<!-- app/views/medication_schedules/new.html.erb -->

<h1>お薬の予定を登録</h1>

<%= form_with model: @medication_schedule, data: { controller: "nested-form" } do |f| %>

  <h3>▪️タイトル</h3>
    <div>
    <%= f.text_field :title %>
  </div>

  <h3>▪️飲む人</h3>

  <div>
    <%= f.text_field :target_name %>
  </div>

  <h3>▪️飲む時間</h3>

  <div data-nested-form-target="container">
    <%= f.fields_for :medication_times do |t| %>
      <div class="time-field">
        <%= t.time_field :time %>
        <button type="button" data-action="nested-form#remove">削除</button>
        <%= t.hidden_field :_destroy %>
      </div>
    <% end %>
  </div>

  <!-- 追加ボタン -->
  <button type="button" data-action="nested-form#add">＋時間を追加</button>

  <!-- テンプレート（非表示） -->
  <template data-nested-form-target="template">
    <%= f.fields_for :medication_times, MedicationTime.new, child_index: "NEW_RECORD" do |t| %>
      <div class="time-field">
        <%= t.time_field :time %>
        <button type="button" data-action="nested-form#remove">削除</button>
        <%= t.hidden_field :_destroy %>
      </div>
    <% end %>
  </template>

  <div>
    <%= f.submit "登録する" %>
  </div>

<% end %>
