<!-- app/views/medication_schedules/show.html.erb -->


<% content_for :title, "お薬の詳細 | おくすリング" %>
<% content_for :page_title, "お薬の詳細" %>
<% content_for :description, "登録した服薬スケジュールの内容を確認できます。" %>

<div class="page-container">
  <div class="section-item">
    <p class="detail-label">タイトル</p>
    <p class="detail-value"><%= @medication_schedule.title %></p>
  </div>

  <div class="section-item">
    <p class="detail-label">飲む人</p>
    <p class="detail-value">
      <span class="med-target">
        <%= @medication_schedule.target_name %>
      </span>
    </p>
  </div>

  <div class="section-item">
    <p class="detail-label">飲む時間</p>

    <ul class="detail-time-list">
      <% @medication_schedule.medication_times.each do |time| %>
        <li class="detail-time-item">
          <span class="detail-time">
            <%= time.time.strftime("%H:%M") %>
          </span>

          <span class="detail-status <%= time.taken_today? ? "done" : "pending" %>">
            <%= time.taken_today? ? "✔ 済" : "未" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="section-item">
    <p class="detail-label">メモ</p>
    <% if @medication_schedule.memo.present? %>
      <p class="detail-memo"><%= @medication_schedule.memo %></p>
    <% else %>
      <p class="detail-memo detail-empty">メモはありません</p>
    <% end %>
  </div>

  <% if @readonly %>
    <p>閲覧専用です</p>
  <% else %>
    <div class="detail-actions">
      <%= link_to "編集",
        edit_medication_schedule_path(@medication_schedule),
        class: "app-button" %>
      <%= button_to "この予定を削除",
            medication_schedule_path(@medication_schedule),
            method: :delete,
            data: { turbo_confirm: "本当に削除しますか？" },
            class: "app-button" %>
    </div>
  <% end %>
</div>
