<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "おくすリング" %></title>
    <%= favicon_link_tag "favicon.png" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
    <meta name="description"
        content="<%= content_for?(:description) ? yield(:description) : '服薬時間の通知や再通知、家族共有機能により、飲み忘れを防ぐ服薬管理サービスです。' %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'おくすリング' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : '服薬時間の通知や再通知、家族共有機能により、飲み忘れを防ぐ服薬管理サービスです。' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= request.base_url %>/ogp.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'おくすリング' %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : '服薬時間の通知や再通知、家族共有機能により、飲み忘れを防ぐ服薬管理サービスです。' %>">
    <meta name="twitter:image" content="<%= request.base_url %>/ogp.jpg">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% hide_header =
      (controller_name == "home" && action_name == "index" && current_user.nil?) ||
      (controller_name == "family_links" && action_name == "accept") %>

    <%= render "shared/header" unless hide_header %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
