<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "おくすリング" %></title>
    <meta name="description"
        content="<%= content_for?(:description) ? yield(:description) : '服薬時間の通知や再通知、家族共有機能により、飲み忘れを防ぐ服薬管理サービスです。' %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% hide_header =
      (controller_name == "home" && action_name == "index" && current_user.nil?) ||
      (controller_name == "family_links" && action_name == "accept") %>

    <%= render "shared/header" unless hide_header %>

    <%= yield %>
  </body>
</html>
